In [ ]:
!pip install paho-mqtt
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: paho-mqtt in /usr/local/lib/python3.7/dist-packages (1.6.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.9.4)

In [ ]:
import random
from paho.mqtt import client as mqtt_client
import time
import json
import psycopg2
import time

In [ ]:
#configurações para conexão
broker = 'broker.hivemq.com'
port = 1883
topic = "/atmos-message"
client_id = f'python-mqtt-{random.randint(0, 1000)}'

#função de conexão
def connect_mqtt() -> mqtt_client:
    def on_connect(client, userdata, flags, rc):
        if rc == 0:
            print("Connected to MQTT Broker!")
        else:
            print("Failed to connect, return code %d\n", rc)

    client = mqtt_client.Client(client_id)
    client.username_pw_set('', '')
    client.on_connect = on_connect
    client.connect(broker, port)
    return client

In [ ]:
def conectar_database(conn, list_values):
  aux = str(list_values).replace('[','').replace(']','').replace("'","")
  sc = "'"
  sql = '''
          INSERT INTO dados (mac, date, va,vb,vc, ia,ib,ic, wa,wb,wc) VALUES('''+sc+str(list_values[0])+sc+''',
          '''+sc+str(list_values[1].replace("-","-").replace("T"," ").replace("Z",""))+sc+''',
          '''+str(list_values[2])+''','''+str(list_values[3])+''','''+str(list_values[4])+''',
          '''+str(list_values[5])+''','''+str(list_values[6])+''','''+str(list_values[7])+''',
          '''+str(list_values[8])+''','''+str(list_values[8])+''','''+str(list_values[10])+'''
          );
          '''
  
 
  try:
    cur = conn.cursor()
    cur.execute(sql)
    conn.commit()
    time.sleep(3)
    cur.close()
    time.sleep(3)
  except:
    print('Nao inserido ao banco de dados')

In [ ]:
#função de solicitação
def subscribe(conn, client: mqtt_client):
    def on_message(client, userdata, msg):
        #conectar_database(list_values)
        data = json.loads(msg.payload.decode())
        aux = []
        aux.append(data['mac'])
        aux.append(data['date'])
        aux.append(data['va'])
        aux.append(data['vb'])
        aux.append(data['vc'])
        aux.append(data['ia'])
        aux.append(data['ib'])
        aux.append(data['ic'])
        aux.append(data['wa'])
        aux.append(data['wb'])
        aux.append(data['wc'])
        
        conectar_database(conn, aux)
        
        #print(f"Received `{msg.payload.decode()}` from `{msg.topic}` topic")

    client.subscribe(topic)
    client.on_message = on_message

In [ ]:
client = connect_mqtt()
conn = psycopg2.connect("postgres://qftsmuas:uCC2WazDM7sC4j6wAzRu64-DsTAgyKGM@peanut.db.elephantsql.com/qftsmuas")
subscribe(conn, client)
client.loop_forever()

Connected to MQTT Broker!

          INSERT INTO dados (mac, date, va,vb,vc, ia,ib,ic, wa,wb,wc) VALUES('DE:DD:26:74:3D:70',
          '2022-10-28 20:02:05',
          222.97,217.51,223.24,
          0.01,23.65,15.66,
          2.2297000000000002,2.2297000000000002,3495.9384
          );


          INSERT INTO dados (mac, date, va,vb,vc, ia,ib,ic, wa,wb,wc) VALUES('DE:DD:26:74:3D:70',
          '2022-10-28 20:02:10',
          226.67,226.93,207.24,
          4.55,13.97,3.35,
          1031.3484999999998,1031.3484999999998,694.254
          );